*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #0b1f3a;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav div img {
    width: 50px;
}

nav div h1 {
    color: #f5f5f5;
    font-size: 1.5rem;
}

nav ul {
    display:flex ;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color:#f5f5f5;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.2s;
}
nav ul li a:hover {
    color: #e53935;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

h2 {
    color: #0b1f3a;
    margin-bottom: 20px;
}