#title {
    padding: 20px;
}

#currentTeams {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    
    display: grid;
    gap: 25px;
}

#extinctTeams {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    
    display: grid;
    gap: 25px;
}

#teams-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.team-card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.team-card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
}

.team-card h2 {
    font-size: 1.2rem;
    color: #0B1F3A;
    margin-bottom: 5px;
}

.team-card p {
    color: #555;
    margin-bottom: 15px;
}

.team-card a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #0B1F3A;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.team-card a:hover {
    background-color: #E53935; /* vermelho NBA */
}